@import "tailwindcss";

@theme {
  --color-main: #333333;
  --color-card: #141414;
  --color-info: #00778b;
  --color-approved: #64ccc9;
  --color-approved-light: #64ccc966;
  --color-warning: #eaaa00;
  --color-warning-light: #eaaa0066;
  --color-critical: #d22630;
  --color-critical-light: #d2263066;
  --font-family-sans: "Avenir", ui-sans-serif, system-ui, sans-serif;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333333;
  font-family: "Avenir", ui-sans-serif, system-ui, sans-serif;
}

main,
.layout-private-default,
.eit-wrapper,
.eit-container {
  min-height: 100vh;
}
